@font-face {
    font-family: fontGame;
    src: url(./font/Pony.ttf);
}

.game {
    background-image: url(./asset/bgGame.png);
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: fontGame;
}

.btnGame {
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color: rgb(82, 100, 238);
    color: #ffffff;
    border: 5px solid rgb(82, 238, 98);
    border: none;
    border-radius: 10px;
}